<h2 id="title">Welcome to Ember</h2>

<div>
  <button type="button" {{on "click" this.toggleShowCount}}>
    Show Count
  </button>
</div>

<div>
  <button type="button" {{on "click" this.decreaseInterval}}>Faster ++</button>
  <button type="button" {{on "click" this.increaseInterval}}>Slower --</button>
</div>

<div>
  {{#if this.showCount}}
    <Counter @interval={{this.interval}}/>
  {{/if}}
</div>

<div>
  <TaskDemo @url={{this.interval}}/>
</div>
